f/First/CSEPC110 - W3 - Conditional logic (IF/ELSE).py
f/First/CSEPC110 - W3 - Conditional logic (IF/W07 - LA.py
f/First/.idea/First.iml
f/First/.idea/misc.xml
f/First/.idea/modules.xml
f/First/.idea/inspectionProfiles/profiles_settings.xml
f/First/TRIAL.py
f/First/Tirial 2 - Getting inpute from users
f/First/life-expectancy.csv
f/First/Trial 2 - Getting input from users.py
f/First/.idea/.name
